{% extends 'base.html.twig' %}

{% block body %}
<center>
	<img src="{{ asset('404.jpg') }}" alt="" width="175px" height="150px">
    <h1>Page not found</h1>
    <p>
        The requested page couldn't be located. <br/>
		Checkout for any URL misspelling or <a href="{{ path('homepage') }}">return to the homepage</a>.
    </p>
</center>
{% endblock %}
